body {
  background: linear-gradient(to bottom, #ffe066, #fff);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background-color: #fdd835;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

button {
  background-color: #b71c1c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #880e4f;
}
